.HelloWorld {text-align: center;}
.Main{background-color: deepskyblue;}
.ULTRAKILL{font-family: impact;
}
.Padding{
    padding: 20px;
    max-width: 700px;
    width:90%;
background-color: goldenrod;
margin-left: auto;
margin-right: auto;
}
.Gaming{
    background-image: url(https://wallpapercave.com/dwp1x/wp8985755.jpg)
}
.GamePage {
background-color:burlywood;
margin-left: auto;
margin-right: auto;
padding-right: 20px;
padding-left: 20px;
padding-top: 0.5%;
}
.Heading {
    text-align:center;
}
.WhyBlue {
    border-color: black;
}
Body {
    font-family: sans-serif;
}
.EpicQuote {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.GamePageLink {
    color: black;
}
.GamePageLink:visited {
    color: darkgray
}
.GamePageLink:hover {
    color:darkblue
}